<div class="header-info">
  <h1>Analysis</h1>
  <p><b>Enables the user to choose two metrics to plot against each other (also known as antecedent events and consequent events) and view charts populate to observe all types of correlations in their habits and health.</b></p>
</div>


<%= render 'pages/analysis/analysis', user_data: @send%>