<div class="card">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        
        <h5 class="h3 text-black mb-0">Mobility on different days of the week</h5>
        <%= form_with url: pages_mobility_path, local: true, method: :post do  %>
          <input type="hidden" name="refresh" value="hard_refresh">
          <button  class="btn btn-primary" style="float: right;" type="submit">Refresh</button>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="card-body">
    <!-- Chart -->
    <div class="chart">
      
      <% if user_data.length() != 0 %>
         
         <%= line_chart user_data, points:false, round: 2, loading: "Loading...",
            xtitle: "Time of day", ytitle: "Average steps"
          %>
      <%else%>
        <h3 style="color:white;">No steps data for past 3 months</h3>
      <%end%>
     
      <%# <canvas id="chart-sales-dark" class="chart-canvas"></canvas> %>
    </div>
  </div>
</div>
