
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <%= render partial: 'pages/header', locals: {
            icon: 'home',
            breadcrumb_1: 'Logging',
            breadcrumb_2: 'Logging'
      } %>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col" background-color="white">
        <%=render 'pages/sleep/charts/daily_sleep', user_data: @daily_sleep_summary %>
      
    </div>
    
  </div>
  <!-- Page content -->
  <div class="row">
    <div class="col" background-color="white">
        <%=render 'pages/sleep/charts/exercise_compare', exercise_data: @exercise_sleep_count, other_data: @other_sleep_count %>
      
    </div>
    
  </div>
  

  <%= render 'pages/footer' %>
</div>
