<div class="card">
  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="h3 text-black mb-0"><span class="hovertext" data-hover="A line chart showing user’s weight in kg by date."><i class="fa fa-info-circle" aria-hidden="true"></i></span> Your Weight</h5>
    <!-- Chart -->
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart">
        
      <% if user_weight.length() != 0 %>
         
      <div id="charts">
          
        <div id="weight_chart_daily" class="chart hidden">

            <%= line_chart [
                  {
                      name: "Daily Weight", type: "line", data: user_weight
                  }
              ], suffix: " kg",points:true, round: 2, loading: "Loading...", xtitle: "Date", ytitle: "Total Weight" %>

        </div>
          
      <%else%>
        <h3 style="color:black;">No activities for the past 3 months</h3>
      <%end%>
     
      <%# <canvas id="chart-sales-dark" class="chart-canvas"></canvas> %>
    </div>
        
  </div>
  </div>