
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <%= render partial: 'pages/header', locals: {
            icon: 'home',
            breadcrumb_1: 'Logging',
            breadcrumb_2: 'Logging'
      } %>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
 
  <div class="row">
    <div class="col" background-color="white">
     <% @data = !@mobility_aggregated.nil? ? @mobility_aggregated: []
      %>
        <%= render 'pages/mobility/charts/bar_totalsteps_dayandweek.html.erb', user_data:@data %>
      
    </div>
</div>

<!-- Page content -->
 
  <div class="row">
    <div class="col" background-color="white">
     <% @data = !@processed_steps_data.nil? ? @processed_steps_data.map { |day_of_week, per_minute_data|
            {name: day_of_week, data: per_minute_data} 
        } : []
      %>
        <%= render 'pages/mobility/charts/day_of_week', user_data:@data %>
      
    </div>
    
  </div>
  

  <%= render 'pages/footer' %>
</div>
