<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Total Time Spent Doing Various Activities Per Week</h3>
      </div>
      <%# <div class="col text-right">
        <a href="#!" class="btn btn-sm btn-primary">See all</a>
      </div> %>
    </div>
  </div>
  <div class="card-body">
  <div class="chart">

    <% if user_data.length() != 0 %>
      <%= react_component("AnalysisChart", { userSummary: user_data}) %>
      
    <%else%>
      <h3 style="color:black;"> No activities for the past 3 months</h3>
   <%end%> 